li{
    margin: 5px 0 0 0;
}
    
ul.nav{
    list-style: none;
    display: block;
    width: 200px;
    position: relative;
    top: 50px;
    left: 100px;
    padding: 60px 0 60px 0;
}

ul.nav li a{
    transition: all 0.03s ease-out;
    background: magenta;
    color: indigo;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    width: 100px;
    display: block;
    box-shadow: 5px 10px #8888;

}
ul.nav li a:hover{
    background: #ff7;
    color: #67a5cd;
    padding: 7px 15px 7px 30px;
}